
<div id="nextApp">
</div>
<div class="d-flex flex-column align-items-center justify-content-center text-center">
    <img src="~/images/logo2.png" style="height:420px;width:520px">
    <a asp-controller="Appointment" asp-action="Index" class="btn btn-outline-primary fs-4">CHOOSE YOUR STYLE</a>
</div>
