html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.category-list {
    width:400px;
    border: 2px solid #a55233;
    align-self: flex-start;

}
#dropDownCategory {
    display: none;
    position: relative !important;
}
.show {
    display: block !important;
    animation-name: drop;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes drop {
    from {
        top: -50px;
        opacity:0;
    }

    to {
        top: 0px;
        opacity:1;
    }
}

input[type="checkbox"] {
    zoom: 1.6;
}
input[type=date] {
    width: 300px;
    border: 2px solid #a55233;
    border-radius: 5px;
    font-size: 1.5rem;
}
::-webkit-calendar-picker-indicator {
    color: white;
    font-size: 1.5rem;
}

.timeItem {
    border: 2px solid #a55233;
    font-size: 23px;
    padding: 7px 13px;
    color: black;
    cursor:pointer;
}
.timeItemClicked {
    background-color: #a55233;
    color: white;
}
.timeItem:hover {
    background-color: #a55233;
    color: white;
}
.disabled-link {
    pointer-events: none;
    text-decoration: none;
    cursor: default;
    background-color: #cccccc !important;
}
.nextAppShow {
    position: absolute;
    top: 100px;
    right: 10px;
    animation-name: right;
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
}

@keyframes right{
    from {
        right: -100px;
        opacity: 0;
    }

    to {
        right: 10px;
        opacity: 1;
    }
}

.appointmentCard {
    width: 290px;
    height:182px;
    border: 2px solid #a55233;
    box-shadow: 2px 2px 2px #a55233
}

.appointmentCard.zoom {
        animation: zoom forwards 1.7s ease-out 1;
}
@keyframes zoom{
    0% {
        transform: scale(1);
        opacity: 1;
        transform-origin: 125px 125px;
        font-size:10px;
    }

    50% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(0);
        opacity: 0;
        padding: 0;
        margin: 0;
        display:none;
    }
}