<div class="d-flex flex-wrap justify-content-between p-3" style="width:100%">
	<div class="btn btn-outline-primary" style="min-width:32%">
		Hairstyles
		<i class="bi bi-caret-down bi-sm float-end"></i>
	</div>
	<div class="btn btn-outline-primary bg-#f3bc77" style="min-width:32%">
		Beard
		<i class="bi bi-caret-down bi-sm float-end"></i>
	</div>
	<div class="btn btn-outline-primary" style="min-width:32%">
		Other
		<i class="bi bi-caret-down bi-sm float-end"></i>
	</div>
</div>
