@using BarberShopWeb.DTOs;
@model ResetPasswordDto
@{
    string confirmPassword="";
}

<h2>Reset your password</h2>

<div class="row">
    <div class="col-md-4">
        <form method="POST" asp-controller="Confirmation" asp-action="ConfirmPassowrd">
            <input asp-for="Token" type="hidden" />
            <div class="mb-2">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="NewPassword">New password</label>
                <input asp-for="NewPassword" class="form-control"/>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="ConfirmPassword">Confirm Password</label>
                <input asp-for="ConfirmPassword" class="form-control"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
        </form>
    </div>
</div>
